In [1]:
a = 1 #int
b = 1.5 #double

#datatype of variable
type(a)

int

In [3]:
#lets talk about list
l1 = []
l1.append(10)
l1.append(20)
print(l1)

#accessing elemnets -- similar to array
print(l1[0])
print(l1[1])

[10, 20]
10
20

In [4]:
#append vs insert
#append mtlb -- at the last
#insert at a particular index
l1.insert(2,30)
print(l1)

[10, 20, 30]

In [ ]:
#deleting the elements
# pop() -- deleting from the end
l1.pop()

In [5]:
#In class exercise
l2 = [10,20,30,40,50]
l2.insert(0,00)
print(l2)
l2.pop()
print(l2)
l2.pop(3) #removing an element at index 3
print(l2)

[0, 10, 20, 30, 40, 50]
[0, 10, 20, 30, 40]
[0, 10, 20, 40]

In [7]:
l3=[]
#10,20,30,40,50 -- but rev
l3.insert(0,50)
l3.insert(0,40)
l3.insert(0,30)
l3.insert(0,20)
l3.insert(0,10)
print(l3)

[10, 20, 30, 40, 50]

In [12]:
#dictionaries
dict1 = {
    'key1' : 10,
    'key2' : 20,
    'key3' : 30,
}
print(dict1)
# print(dict1[0]) -- this won't work
print(dict1['key1'])


dict1['key4'] = 'value40'
dict1[5] = 50

#any datatypes as keys and values
print(dict1)

#dictionaries are immuatable !!! (expection, strings ki value change ho skti hai??)

#length of the dictionary
len(dict1)

{'key1': 10, 'key2': 20, 'key3': 30}
10
{'key1': 10, 'key2': 20, 'key3': 30, 'key4': 'value40', 5: 50}

5

In [16]:
#nested dictionaries
d2 = {
    'nested' : {
        'a' : 1,
        'b' : 2,
        'c' : 3
    }
}

#length of dictionary ,
print(len(d2)) #should be 1
print(len(d2['nested'])) #should be 3

1
3

In [17]:
d1 = { 1:2, 2:4, 3:6, 4:8, 5:10}

print(d1.keys()) #i.first
print(d1.values()) #i.second

#q--print all the keys and values as two separate lists
#a--we have to used typecasting dict to list to print it as a list

print(list(d1.keys()))
print(list(d1.values()))
#create a new list d2, jisme d1 ke keys, value pairs swap hojye

dict_keys([1, 2, 3, 4, 5])
dict_values([2, 4, 6, 8, 10])
[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

In [ ]:
#tuples -- imuatable
t1 = ('yo','yo')
#we can also use a concatination fucntion with tuples

In [18]:
#sets - can contain any type of elements
s1 = set() #set declaration
#set mai jo values hoti h uska order hum define nai kar skte , SET DOESN"T HAS ANY INDEX VALUES
s1 = set([1,2,3,'one','second','third'])
print(s1)

str1 = 'learning'
print(set(str1)) # {'i', 'a', 'e', 'g', 'n', 'l', 'r'}
print(set([str1])) # 'learning', pass it as a list

{1, 2, 3, 'one', 'second', 'third'}
{'i', 'a', 'e', 'g', 'n', 'l', 'r'}
{'learning'}

INPUTS

In [22]:
#input hamesha as a string hota h -- badmai bhale hi typecast krle, but at the beggining its always a string
v1 = input('Enter the value of v1:')
v2 = input('Enter the value of v2:')
v3 = int(input('Enter the value of v3:'))
v4 = int(input('Enter the value of v4:'))

print(v1+v2) #string concationation
print(v3+v4) #adds values, int values46

Enter the value of v1:2
Enter the value of v2:4
Enter the value of v3:5
Enter the value of v4:6
24
11

START : STOP : STEPS

In [28]:
s = 'machine learning'
print(s[1:6:2]) #ahn

#rev a string using this method
print(s[::-1]) #gninrael enihcam


#start:stop:steps
#begin:end:steps

ahn
gninrael enihcam

call by refernce

In [30]:
#list acts as call by reference -- by default
l1 = [20]

l2 = l1
print(l2)
l1.append(10)
print(l2)

#how to unbind the call by reference
l3 = list(l1)
print(l3)
l1.append(30)
print(l3)
print(l1)

[20]
[20, 10]
[20, 10]
[20, 10]
[20, 10, 30]

In [39]:
#in class exercise
s1 = 'machine'
s2 = 'learning'
s3 = s1 + ' ' +s2
print(s3)

#find the sum of all values in a list
l1 = [1,2,3,4,5]
print(sum(l1))

#find the index of element 6
l2 = [1,2,3,4,5,6]
print('the element of element 6 should be:')
print(l2.index(6))

#removing an element from the dictonary
d1 = {
    'a' : 1, 'e':1, 'i':1
}
d1.pop('e')
print(d1)

#replace a character in the string
s = "Machine Learning"
print(s.replace('a','e'))

#print string s1 ="Machine Learning" with all its characters in lower case
s.lower()

machine learning
15
the element of element 6 should be:
5
{'a': 1, 'i': 1}
Mechine Leerning

'machine learning'